# Data science tools and ecosystem

### In this noteboook, data science tools and ecosystem are summarized.

**Objectives:**
 * List popular languages for Data Science.
 * List libraries used by Data Scientists.
 * Table of Data Science tools.
 * Example of an arithmetic expression.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Sci-Kit Learn
5. Tensorflow
6. Matplotlib
7. Ggplot

| Data Science Tools |
|:---: |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Adrian Lazarczuk